[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "content"]
	path = content
	url = https://github.com/li-xiaochen/blog-content.git
